body{
  background-color: #e6e6e6;
}

.header{
  margin: 30 0 0 0;
  font-size: 28;
}

.loginBox{
  margin: 30 0 30 0;
  background-color: #fafafa;
  color:black;
  font-size: 26;
  /* font-weight: 500; */
  padding: 40 0 40 30;
  border-radius: 32px;
  -webkit-box-shadow:0 0 2px 1px #bdbdbd;
}

.loginBox a{
  font-size: 20;
}

.inputbox{
  margin: 12 0 0 0;
  font-size: 18;
  width: 200;
  font-weight: 400;
}

.inputbox span{
  margin: 20 0 0 0;
  background-color: pink;
}

.inputbox input[type=text],input[type=password]{
  margin: 4 0 20 0;
  padding: 10 0 10 15;
  width: 300;
  outline: none;
  border-radius: 10px;
  border-left: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

input[type=text]:focus,input[type=password]:focus{
  border:2px solid #2f9cf1;
}

.inputbox input[type=radio]{
  text-align: center;
  margin: 0 0 25 30;
}

input[type=submit]{
  width: 130;
  background-color: #fff;
  outline: none;
  border:1.5px solid #2f9cf1;
  padding: 10 20 10 20;
  border-radius: 64px;
  font-size: 18;
  color:#2f9cf1;
  margin: 0 40% 0 40%;
}

input[type=submit]:hover{
  background-color: #2f9cf1;
  color:white;
}
